<div class="header bg-black pb-4">
    <div class="center">
        <app-logo [height]="400" [color]="'silver'"></app-logo>
    </div>
</div>

<div class="bg-black">
    <h1 class="text-white text-center">Dynasty Rankings Preseason 2022</h1>
    <h4 class="text-light text-center">Why does your team suck?</h4>
</div>

<div class="container bg-black">
    <div class="row">
        <h3 class="text-white">1. Evan's Pick Bank</h3>
        <p class="text-white">After selling it all, its almost time to buy. But now is not the time, you need to buy
            when the market is
            low, and just before the season is not the time. Everyone thinks their team is a contender. I like the young
            WR talent, and once RB’s join this roster there will be chance. Let’s see what happens with all the picks.
        </p>
    </div>
    <div class="row">
        <h3 class="text-white">2. I’m Hard Man</h3>
        <p class="text-white">Has shown a lot of potential over the years but is always devasted by injury or trades.
            Acquiring the King may be what
            finally turns the L into W’s. But there is a lot of old and risky players with a lot of injury.
        </p>
    </div>
    <div class="row">
        <h3 class="text-white">3. T-marsh</h3>
        <p class="text-white">Another team following suit with the injury bug. As Henry was traded last year to I’m Hard
            Man in order to
            make a
            playoff push but then James Robinson got hurt as well. OBJ is still recovering, Zeke was injured all last
            year,
            Adams to
            the Raiders, there is a lot of questions around key players that could propel this team back to the top or
            tank and
            burn. Three players on this roster are either retired or do not have jobs, not a good look for a previous
            champion.</p>
        <div class="row">
            <h3 class="text-white">4. Stop giving A$$ Trades</h3>
            <p class="text-white">This feels too low of a ranking for a team with Cooper Kupp, but last year was
                record breaking. It
                will not happen
                again. The wide receivers are all overall great but took hits all around. Waddle added Tyreek, Moore
                added Wilson,
                Hopkins got suspended. The hope is for injuries in the DEN and SEA backfield to better his RBs. </p>
        </div>
        <div class="row">
            <h3 class="text-white">5. Rely on the C’s</h3>
            <p class="text-white">CMC is back, hopefully and that’s about it. If CMC comes back to full strength and
                workload
                he is worth 1.5 times
                Jonathan Taylors but it’s a hope. There is a lot of potential here with young talent that
                can quickly return value,
                but
                its unknown still and hard to rank as a playoff team yet. </p>
        </div>
        <div class="row">
            <h3 class="text-white">6. Monaghan Manor</h3>
            <p class="text-white">A few nice additions here, Chubb is one of the best pure runners in the league.
                Russ
                to Denver, Brady unretires,
                Julio
                with the Bucs, ARob to LA, and Mooney the lone guy in Chicago. Kamara suspension
                likely pushed back a year. I think
                a
                third top rb is needed to push Manor over the edge, hopefully before this team all
                decides to retire. </p>
        </div>
        <div class="row">
            <h3 class="text-white">7. Token Cake Eater</h3>
            <p class="text-white">I think selling Elijah Mitchell was good value, for next years draft, but
                that only hurts him now. Cam akers looked
                back
                in the playoffs, and may not get the full workload, Breece Hall is on the
                Jets, AJ Dillon will keep splitting with
                Aaron
                Jones and may lose valuable goal line and receiving work. But if I am wrong
                on those, all other talent is great to
                elite. </p>
        </div>
        <div class="row">
            <h3 class="text-white">8. Chasin’ Lambs</h3>
            <p class="text-white">I think the weakness here is in the RBs. But they are pretty
                underrated and may provide nice value. The issue is
                Montgomery is on the crappy bears, and Mitchell is in the San
                Fransico RB committee that changes so often. Lamb has
                his
                chance to be a WR 1, Hollywood can be a one while Hopkins is out. A
                playoff push can be done with 2 tier RB’s. </p>
        </div>
        <div class="row">
            <h3 class="text-white">9. Treechi1d’s</h3>
            <p class="text-white">RB’s and WRs are very good. Cook had a disappointing year
                last year with no TD’s, and Jones may say every packers
                target
                this year without Adams (see SF playoff game targets). The
                question is if Deshaun Watson will be suspended. It
                doesn’t
                sound good. I think Roger Goodell just said he wants a full
                season suspension. But even without Watson, a Derek Carr
                may
                be able to help this team compete. </p>
        </div>
        <div class="row">
            <h3 class="text-white">10. Vacation Funds</h3>
            <p class="text-white">Probably the lowest ranking I have finally been able
                to give him. Usually the high ranking is due to
                respect for
                winning
                the previous year, but It feels like there are a
                surprising amount of rising questions. How long will
                Patterson stay
                healthy? We all were in disbelief from last years
                performance. Will Dobbins be healthy? It feels like
                it. Who will
                be
                Russel Wilson’s WR 1, Jeudy or Sutton. Jeudy has had
                two years and hasn’t shown much. Was St. Browns
                miracle las 6
                games
                of the season only due to Hockenson and Swift being
                out for a majority of that? What happens when they
                are all back.
                And
                finally, will Zeke be missed? He was injured all of
                last year and was still the RB 5. That’s a lot of
                production to
                take
                out of a roster. </p>
        </div>
        <div class="row">
            <h3 class="text-white">11. Mahome Boy’s</h3>
            <p class="text-white">The stack still lives, Mahomes to Moore, or
                maybe Juju or MVS. But besides that overall
                great team except at TE.
                Mixon,
                Fat Fournette, and Conner, all three were
                top 10 RB’s. JJ Hill were also top 10 at the
                position. The question is a
                lot
                of these players are not being ranked to
                repeat last years great performances. </p>
        </div>
        <div class="row">
            <h3 class="text-white">12. All Pitts
                Stink</h3>
            <p class="text-white">Hurts get AJ Brown, win. Pittman get
                Matty Ice. CEH loses Darrel
                Williams. Diontae Johnson signs 2
                year deal. Saquon
                is
                healthy. Penny is healthy. Godwin is
                practicing. Really the only
                disappointment was Calvin Ridley’s
                suspension. </p>
        </div>