<div class="outer d-flex">
    <div class="col-1 center" [innerHtml]="team.recordDivision.rank"></div>
    <div class="col-5 center border-left" [innerHtml]="team.name"></div>
    <div class="col-2 center border-left"
        [innerHtml]="team.recordOverall.formatted + ' (' + team.recordOverall.winPercentage.formatted + ')'"></div>
    <div class="col-2 center border-left" [innerHtml]="team.pointsFor.formatted"></div>
    <div class="col-2 center border-left" [innerHtml]="team.pointsAgainst.formatted"></div>
</div>