<ng-container *ngIf="activities" class="activity-container">
    <p class="text-white">New Activity</p>
    <div class="container-fluid text-body">
        <div *ngFor="let activity of activities.items">
            <div class="row mb-2 trade-action">
                <div [innerHtml]="activity.timeEpochMilli | convertTimestamp"></div>
                <div class="row pb-2" *ngIf="activity.tradeBlock" [innerHtml]="tradeBlockAction(activity.tradeBlock)">
                </div>
                <div class=" row pb-2" *ngIf="activity.transaction"
                    [innerHtml]="transactionAction(activity.transaction)">
                </div>
            </div>
        </div>
    </div>
</ng-container>