<div class="header bg-black">
    <div class="center">
        <app-logo [height]="400" [color]="'silver'"></app-logo>
    </div>
</div>

<div class="section1">
    <app-nfl-news></app-nfl-news>
</div>

<div class="section2">
    <app-season-leaders></app-season-leaders>
</div>

<div class="container">
    <div class="row">
        <div class="col-4 activity-container">
            <!-- <app-activity-log></app-activity-log> -->
            Activity Might Go Here
        </div>
        <div class="col-8 other-container">Cat</div>
    </div>
</div>