<div class="header bg-black pb-4">
    <div class="center">
        <app-logo [height]="400" [color]="'silver'"></app-logo>
    </div>
</div>

<div class="bg-black container league-section">
    <div class="col-12 col-md-6 standings-block mb-5">
        <div class="activity-container">
            <app-standings></app-standings>
        </div>
    </div>
    <div class="col-12 col-md-6 activity-block">
        <div class="activity-container">
            <app-activity-log></app-activity-log>
        </div>
    </div>
</div>